@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}


/* NavBar starts Here*/  
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 80px;
    background-color: white;
  }
  nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #2c7bfe;
  }
  nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav .links li {
    list-style: none;
  }
  nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #2c7bfe;
    text-decoration: none;
  }
  #nav-toggle {
    position: absolute;
    top: -100px;
  }
  nav .links a:hover{
    color: #000;
  }
  
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #2c7bfe;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  @media screen and (max-width: 768px) {
    nav .logo {
      font-size: 20px;
      float: none;
      width: auto;
      justify-content: center;
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0,0,0,.8);
      overflow: hidden;
      box-sizing: border-box;
      transition: all .5s ease-in-out;
    }
    nav .links a {
      font-size: 20px;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
    
  }
  
  @media screen and (max-width: 576px) {
    nav .logo {
      font-size: 20px;
      float: none;
      width: auto;
      justify-content: center;
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0,0,0,.8);
      overflow: hidden;
      box-sizing: border-box;
      transition: all .5s ease-in-out;
    }
    nav .links a {
      font-size: 20px;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
    
  }
  /* NavBar Ends Here*/
  

body{
    margin: 0;
    padding: 100px;
    min-height: 100vh;
    line-height: 1.5;
    padding: 10 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
    --blue: #2c7bfe;
    --blue-light: white;
    --blue-dark: #004bc5;

    --rounded: .25rem;
    --rounded-md: .5rem;
}


/* Contact*/
.contact {
    max-width: 640px;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    border-radius: var(--rounded-md);
}

.contact-title {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.contact-description {
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}
input,
textarea {
    width: 100%;
    padding: .75rem 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: var(--rounded);
    border: 1px solid #bbb;
}

input,
textarea:focus {
    border-color: var(--blue);
    box-shadow: 0 0 0 .25rem var(--blue-light);
}

label {
    margin-bottom: .25rem;
    display: inline-block;
}

.btn-submit {
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: var(--rounded);
    background-color: var(--blue);
    color: #fff;
    border: none;
    outline: none;
    font-size: 1rem;
}

.btn-submit:hover{
    background-color: var(--blue-dark);
    transition: all ease-in-out .8s;
}

.btn-submit:focus,
.btn-submit:active{
    box-shadow: 0 0 0 .25rem var(--blue-light);
}
/*Contact*/ 

